<!--logout.html-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1>Déconnexion</h1>
        <div class="card my-3">
            <div class="card-body">
                <p class="card-text">Vous avez été déconnecté avec succès.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Se connecter à nouveau</a>
                <a href="{% url 'index' %}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
