
{% load static %}
{% load custom_filters %} 


<!-- review_snippet.html -->
<!-- review_snippet.html -->
<div class="review-snippet">
    <p style="text-align: right;">  {{ review.created_at|date:"d-m-Y" }}</p>
    <h3 style="display: inline-block; margin-right: 10px;"><a href="{% url 'review_detail' review.id %}" style="text-decoration: none;">{{ review.headline }}</a></h3>
    <p style="display: inline-block;">{{ review.rating|generate_star_rating }}</p>
    
    <p>{{ review.body }}</p>
    
</div>
