<!-- user_following.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Utilisateurs que je suis</title>
</head>
<body>
   <!-- Affichage des utilisateurs que vous suivez -->
   <h1>Abonnement</h1>
   {% if following_users %}
   <ul>
       {% for following_user in following_users %}
           <li>
               {{ following_user.followed_user.username }}
               <form method="post" action="{% url 'unfollow_user' %}">
                   {% csrf_token %}
                   <input type="hidden" name="follow_username" value="{{ following_user.followed_user.username }}">
                   <button type="submit">Désabonner</button>
               </form>
           </li>
       {% empty %}
           <li>Vous ne suivez aucun utilisateur</li>
       {% endfor %}
   </ul>
   {% else %}
   <h2>Je ne suis aucun utilisateur</h2>
   {% endif %}

   <!-- Affichage des abonnés (utilisateurs qui vous suivent) -->
   <h1>Abonnés</h1>
   {% if followers %}
   <ul>
       {% for follower in followers %}
           <li>
               {{ follower.created_by.username }}
           </li>
       {% empty %}
           <li>Aucun abonné</li>
       {% endfor %}
   </ul>
   {% else %}
   <h2>Aucun abonné</h2>
   {% endif %}

   <!-- Reste du contenu de la page -->
</body>
</html>
